
.hide {
	display: none !important;
}

.score_paragraph{
	font-size: 1.2rem;
	margin-top: 10px;
}

#game_area{
	border: 1px solid #949596;
	border-radius: 5px 5px;
	height: 400px;
	margin: 30px;
	position: relative;
	width: 600px;
}

#player{
	display: flex;
	flex-direction: column;
}


#players{
	display: flex;
	flex-direction: column;
}

#playerContainer{
	background-color: blanchedalmond;
	display: flex;
	flex-direction: column;
	margin: 5px;
	padding: 5px;
}

#playerTime{
	border-bottom: 1px solid #949596;
	margin-top: 5px;
	padding-top: 5px;
}

#player_name-form{
	margin-top: 200px;
	width: 100%;
}

#restartButton{
	background-color: #949596;
	margin: 5px;
}

#score_board{
	border: 1px solid #949596;
	border-radius: 5px 5px;
	height: 400px;
	margin: 30px;
	margin-left: 0;
	text-align: center;
	width: 200px;
}

#virus_game{
	display: flex;
}

img{
	height: auto;
	position: absolute;
	width: 50px;
}
