li{
	background-color: blanchedalmond;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	margin: 5px;
	padding: 5px;
}

span{
	border-top: 1px solid black;
	margin-top: 5px;
	padding-top: 5px;
}

.hide {
	display: none !important;
}

.score_paragraph{
	font-size: 1.2rem;
	margin-top: 10px;
}

#game_area{
	border: 1px solid black;
	height: 400px;
	margin: 30px;
	position: relative;
	width: 600px;
}

#score_board{
	border: 1px solid black;
	height: 400px;
	margin: 30px;
	margin-left: 0;
	text-align: center;
	width: 200px;
}

#players{
	list-style-type: none;
	padding-inline-start: 0px;
}

#player_name-form{
	margin-top: 200px;
	width: 100%;
}

#virus_game{
	display: flex;
}

img{
	height: auto;
	position: absolute;
	width: 50px;
}
